<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h2>Welcome to Upanishad Database</h2>
  <h3>This is the internal site for volunteers working on <a href="http://www.upanishad.info">Upanishad Info</a></h3>
  <h4>Please sign in using the link above.</h4>
</div>


