<% provide(:title, @upanishad.name) %>
<div class="row"
  <aside class="span4">
    <section>
      <h1>
        <%= @upanishad.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @upanishad.verses.any? %>
      <h3> Verses (<%= @upanishad.verses.count %>)</h3>
      <ul class="verses">
        <% chapter_num = section_num = 0; verse_num = 1 %>
        <% @verses.each do |verse| %>
          <% verse.chapter_num = chapter_num %>
          <% verse.section_num = section_num %>
          <% verse.verse_num = verse_num %>
          <%= render verse %>
          <% if verse.category == "chapter" %>
          <%  chapter_num += 1 %>
          <%  section_num = 0  %>
          <% end %> 
          <% section_num += 1 if verse.category == "section" %>
          <% unless verse.category == "other" %>
            <% verse.category == "verse" ? verse_num += 1 : verse_num = 1 %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
