<% provide(:title, @micropost.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h2> <%= @micropost.author%> </h2>
      <h2> <%= @micropost.title %> </h2>
      <h2> <%= @micropost.content %> </h2>
    </section>
  </aside>
</div>

